# Project directories
.git/
.vscode/
docs/
tests/

# Python artifacts
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage

# Project configuration files
.dockerignore
.env*
!.env.example
.gitignore
README.md