# Project environment
.vscode/
.env*
!.env.example
builders/

# Dataset
dataset/*
!dataset/mariadb
!dataset/mongodb
!dataset/recipe_schema.json

# Included documentation
docs/*
!docs/Recipe\ Classes.png
!docs/Relational\ Database\ Schema.png

# Python artifacts
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage

# Docker
docker-volumes/

# Tests
tests/test_recipe_dag.py
tests/test_db_connections.py
