# Project environment
.vscode/*
.env
.env.*
!.env.example

# Dataset
dataset/*
!dataset/mariadb
!dataset/mongodb
!dataset/recipe_schema.json

# Included documentation
docs/*
!docs/recipe_classes.plantuml
!docs/Recipe\ Basic\ DAG\ Example.png
!docs/Recipe\ Classes.png
!docs/Recipe\ DAG\ Example.png
!docs/relational_db.plantuml
!docs/Relational\ Database\ Schema.png

# Python artifacts
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage

# Docker
docker-volumes/